
<footer class="bd-footer text-muted nav navbar navbar-light" id="footer">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="https://github.com/techengaged">GitHub</a></li>
      <li><a href="https://twitter.com/techengaged">Twitter</a></li>
      <li><a href="/techengaged/examples/">Examples</a></li>
      <li><a href="/techengaged/about/overview/">About</a></li>
    </ul>
  </div>
  <div class="copy">
        <p>&copy Tech Engaged 2018 <a>
  </div>
</footer>
<script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>
</html>