<% include partials/header %>


  <!-- End of Main NavBar -->
             <!-- Beginning of Web dev NavBar -->
  <div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
      <h3 class="com-text">Join us to build a collaborative learning community via our <a href="#">Code of Conduct</a></h3>
    </nav> 
  </div> <!-- End of Web dev NavBar -->

  <!-- Beginning of the three bars -->
  <div class="container" id="topq">
    <div class="row">
      <!-- Beginning of Left Side bar -->
      <div class="col-md-3 bdr">
        <h3 class="home"><a href="#">Home</a></h3>
        <h3><i class="fa fa-eercast"></i>PUBLIC</h3>
        <ul><a href="#">Alp Dev Comm</a>
            <li><a href="#">Tags</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Jobs</a></li>
        </ul><hr>
        <div class="bdm">
          <div id="bdmbd">
            <h3><a href="#">Teams</a></h3>
            <h5>Q&A For Works</h5>
            <button class="btn btn-small btn-info">Create Team</button>
          </div>
        </div>
      </div>
              <!-- Beginning of Middle bar -->
      <div class="col-md-6">
        <h3>Top Questions  <a href="/questions"><button class="btn btn-success" id="askq">Questions</button></a></h3>

        <!--<div class="col-md-6 btn-group" id="intbut">
          <button href="#" role="group" type="button" class="btn btn-secondary">
            Interesting
          </button>
          <button href="#" role="group" type="button" class="btn btn-secondary">
            123 Featured
          </button>
          <button href="#" role="group" type="button" class="btn btn-secondary">
            Hot
          </button>
          <button href="#" role="group" type="button" class="btn btn-secondary">
            Week
          </button>
          <button href="#" role="group" type="button" class="btn btn-secondary">
            Month
          </button>
        </div>-->
        <!--Pagination-->
        <div aria-label="Page navigation example" id="intbut">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Interesting</a></li>
            <li class="page-item"><a class="page-link" href="#">23 Featured</a></li>
            <li class="page-item"><a class="page-link" href="#">Hot</a></li>
            <li class="page-item"><a class="page-link" href="#">Week</a></li>
            <li class="page-item"><a class="page-link" href="#">Month</a></li>
          </ul>
        </div>
        <hr>

        <!--The Main Work starts here-->
        
      <div class="col-md-6">
        <h4><a href="/questions">Have any question to ask?
        </h4>
      </div>
      <div class="col-md-6">
        <h4><a href="/allquestions">View all questions here
        </h4>
      </div>
    </div>

    <!-- Beginning of Right Side bar -->
    <div class="col-md-3" id="blsub">
        <h3>Blogs</h3><hr> 
        <h6><a href="#"><i class="fa fa-comment-o"></i> Getting To Know Our New Code of Conduct</a></h6>
        <h6 class="hot">FEATURED IN OUR COMMUNITY TOUR</h6><hr>
        <h6><a href="#"><i class="fa fa-comment-o"></i> Getting To Know Our New Code of Conduct</a></h6>
        <h6><a href="#"><i class="fa fa-comment-o"></i> Custom question list is available for testing</a></h6>
        <h6><a href="#"><i class="fa fa-building-o"></i> Should we introduce Tech Engaged App?</a></h6>
        <h6 class="hot">HOT META POST</h6><hr>
        <h6><a href="#"></i>17 Should we introduce Tech Engaged App?</a></h6>
        <h6><a href="#"></i>68 How Technology can liberate Africa from Poverty</a></h6>
    </div>
  </div>


  <% include partials/footer %>